<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="home" class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="link-laundry-list" class="nav-link" routerLink="/laundry-list">Laundry List</a>
      </li>
      <li class="nav-item">
        <a id="link-add-laundry" class="nav-link" routerLink="/add-laundry">Add Laundry</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
